:root {
  --branding-color: #f9f6ee;
  --secondary-color: #385170;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  background: #132743;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 72px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.hero {
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  opacity: 0.7;
}
.btn-branding {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
}
.btn-branding-outline {
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}
.btn-branding-outline:hover {
  background: var(--branding-color);
}
nav a {
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover,
.nav-link.active a {
  font-weight: 600;
}
.nav-link {
  margin-left: 15px;
}
