:root {
  --branding-color: #edf7fa;
  --secondary-color: #355c7d;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  background: #07131d;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 72px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.hero {
  background: radial-gradient(
    circle at 50% 50%,
    #355c7d,
    #2d4f6c,
    #25425b,
    #1d364b,
    #152a3b,
    #0e1f2c,
    #07131d,
    #0000
  );
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  opacity: 0.7;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.content-container {
  background: radial-gradient(
    circle,
    rgba(237, 247, 250, 1) 0%,
    rgba(142, 174, 196, 1) 99%
  );
  color: black;
  padding: 60px 20px;
  border-radius: 6px;
}
.projects {
  margin: 60px auto;
}
.projects img {
  transition: all 200ms ease-in-out;
}
.projects img:hover {
  transform: scale(1.15);
}
.projects p {
  opacity: 0.6;
  line-height: 1.5;
}
.contact {
  margin: 60px auto;
}
.contact a {
  font-size: 18px;
  color: var(--secondary-color);
}
.btn-branding {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}
.btn-branding-outline {
  background: var(--secondary-color);
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
}
.btn-branding-outline:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
nav a {
  color: black;
  transition: all 100ms ease-in-out;
}
.navbar-nav a:hover,
.navbar-nav .nav-link.active {
  font-weight: 600;
  color: var(--secondary-color);
}
.nav-link {
  margin-left: 15px;
}
footer .contact-box {
  background: radial-gradient(
    circle,
    rgba(237, 247, 250, 1) 0%,
    rgba(142, 174, 196, 1) 99%
  );
  color: black;
  padding: 30px 0;
  border-radius: 6px;
}
footer .created {
  opacity: 0.6;
}
footer .created a {
  color: var(--branding-color);
}
footer .created a:hover {
  font-weight: bold;
  color: var(--branding-color);
}
footer .social-links a {
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
  color: var(--secondary-color);
  background: var(--branding-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--branding-color);
  background: var(--secondary-color);
}
