:root {
  --branding-color: #f8f2e2;
  --secondary-color: #355c7d;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  background: black;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 72px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.hero {
  background: radial-gradient(
    circle at 50% 50%,
    #355c7d,
    #2d4f6c,
    #25425b,
    #1d364b,
    #152a3b,
    #0e1f2c,
    #07131d,
    #000000
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  opacity: 0.7;
}
.btn-branding {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
}
.btn-branding-outline {
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}
.btn-branding-outline:hover {
  background: var(--branding-color);
}
.projects-container {
  padding: 60px;
  background: #edf7fa;
  color: black;
}

nav a {
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover,
.nav-link.active a {
  font-weight: 600;
}
.nav-link {
  margin-left: 15px;
}
footer .created {
  opacity: 0.6;
}
